<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>Profile</title>

	<style>
		body{
			background-color: #7395ae;
		}
		
		.header{
			display: flex;
			align-items: center;
			background-color: whitesmoke;
		}
		.card{
			display: inline-block;
			background-color: whitesmoke;
			text-align: justify;
			color: #005f73;
			box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

		}

		h3{
			color: #2a9d8f;
		}
		.footer{
			background-color: white;
			color: 2a9d8f;
		}
		.dogImage, #flagCounter, .jokeResponse{
			box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			width: 250px;
		}

		/*#jokeResponse{
			box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			height: auto;

		}*/
		.responses{
		 display: flex;
		 flex-direction: row;
		}
		#scrollTop{
			position: sticky;
			float: right;
			bottom: 0;
			right: 0;
		}
		
		

	</style>

	<script>
			function setCookie(cname, cvalue, exdays) {
  			const d = new Date();
  			d.setTime(d.getTime() + (exdays*24*60*60*1000));
  			let expires = "expires="+ d.toUTCString();
  			document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";

			}

			function getCookie(cname) {
  				let name = cname + "=";
  				let decodedCookie = decodeURIComponent(document.cookie);
  				let ca = decodedCookie.split(';');
  				for(let i = 0; i <ca.length; i++) {
    				let c = ca[i];
    				while (c.charAt(0) == ' ') {
      				c = c.substring(1);
    				}
    				if (c.indexOf(name) == 0) {
      					return c.substring(name.length, c.length);
    				}
  				}
  				return "";
			}

			function checkCookie() {
  				let user = getCookie("username");
  				if (user != "") {
    				alert("Welcome again " + user);
  				} else {
    				user = prompt("Please enter your name:","");
     				if (user != "" && user != null) {
       					setCookie("username", user, 30);
     				}
  				}
			}


	// 		function setCookie(name, value, days) {

    //   var expires = "";

    //   if (days) {

    //     var date = new Date();

    //     date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));

    //     expires = "; expires=" + date.toUTCString();

    //   }

    //   document.cookie = name + "=" + (value || "") + expires + "; path=/";

    // }



    // // Function to get a cookie

    // function getCookie(name) {

    //   var nameEQ = name + "=";

    //   var ca = document.cookie.split(';');

    //   for (var i = 0; i < ca.length; i++) {

    //     var c = ca[i];

    //     while (c.charAt(0) == ' ') {

    //       c = c.substring(1, c.length);

    //     }

    //     if (c.indexOf(nameEQ) == 0) {

    //       return c.substring(nameEQ.length, c.length);

    //     }

    //   }

    //   return null;

    // }



    // // Function to check if the client has visited before

    // function checkFirstVisit() {

    //   var lastVisit = getCookie("lastVisit");

    //   if (lastVisit) {

    //     // Display welcome back message

    //     document.getElementById("welcomeMessage").innerHTML = "Welcome back! Your last visit was " + lastVisit;

    //   } else {

    //     // Set cookie for first visit

    //     setCookie("lastVisit", new Date().toLocaleString(), 365);

    //     // Display welcome message

    //     document.getElementById("welcomeMessage").innerHTML = "Welcome to my homepage!";

    //   }

    // }



    // Call the checkFirstVisit function when the page loads

    // window.onload = checkFirstVisit;
		</script>
</head>
<body onload="checkCookie()">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

<p id="welcomeMessage"></p>
	<div class="container-fluid header">
		<div class="image mx-5 my-3 col-2">
			<img src="images/Krishna.jpg" class="rounded-circle" alt="Krishna Headshot" width="200" height="200">
		</div>
		
		<div class="text  col-6">
			<h1 style="color:#557a95">Saikrishna Madishetty</h1>
			<h4 style="color:#5d5c61">Full Stack Developer</h3>
			<p class="pt-2">
				<a href="https://www.linkedin.com/in/sai-krishna-madishetty-8a9a741b0" target="_blank"><i class="fa fa-linkedin" style="color: #00518f; font-size: 20px;"></i></a>
				<i class="fa fa-twitter px-5" style="color: black;font-size: 20px;"></i> 
				<a href="https://github.com/madishsn" target="_blank"><i class="fa fa-github " style="color: black;font-size: 20px;"></i> </a></p> 
			<p><i class="fa fa-phone" style="color: #0fa5d7; font-size: 20px;"></i> &nbsp; (+1) 513-302-5555 &emsp;
			
			<i class="fa fa-address-book py-2" style="color: #0fa5d7; font-size: 20px;"></i> &nbsp;Cincinnati,  Ohio,  45220.

				
		<div id="email"  onclick="showhideEmail()"> <i class="fa fa-envelope" style="color:skyblue; font-size: 20px;"></i> Show my email</div>

		<!-- <div id="email"  ng-if="shown" ng-click="showhideEmail()"> <i class="fa fa-envelope" style="color:skyblue; font-size: 20px;"></i> Show my email {{email}}</div>
		<script>
			function showhideEmail(){
				console.log("email")
			var shown = true;
			var email ="madishsn@mail.uc.edu";
			}
			

		</script> -->
		<p id="welcomemsg"></p>
		

		<script type="text/javascript" src="email.js"></script>
		</p>

			<!-- <script>
				function setcookie(name, value,days){
					var expires = "";
					if(days){
						var date = new Date();
						date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
						expires = "; expires=" + date.toUTCString();
					}
					document.cookie = name + "=" + (value || "") + expires + "; path=/";
				}

				function getcookie(name){
					var nameEQ = name + "=";
					var ca =document.cookie.split(';');
					for(var i=0;i<ca.length;i++){
						var c = ca[i];
						while(c.charAt(0)==' '){
							c = c.substring(1,c.length);
						}
						if(c.indexOf(nameEQ)==0){
							return c.substring(nameEQ.length, c.length);

						}
					}
					return null;
				}

				function checkFirst(){
					var lastvisit = getcookie("lastvisit");
					if(lastvisit){
						document.getElementById("welcomemsg").innerHTML = "welcome back " + lastvisit;
					}
					else{
						setcookie("lastvisit", new Date().toLocaleString(), 365);

						document.getElementById("welcomemsg").innerHTML = "Welcome homepage"
					}
				}

				window.onload = checkFirst;
			</script> -->

		</div>



		<canvas id="analog-clock" width="150" height="150" ></canvas>
		<script src="https://waph-uc.github.io/clock.js"></script>
		<script>

		var canvas = document.getElementById("analog-clock");
		var ctx = canvas.getContext("2d");
		var radius = canvas.height / 2;
		ctx.translate(radius,radius);
		radius = radius*0.90
		setInterval(drawClock,1000);

		function drawClock(){
			drawFace(ctx,radius);
			drawNumbers(ctx, radius);
			drawTime(ctx,radius);
		}

		</script>
		
	</div>
<br> <br>


	<div class="container">
		<div class="col-12 card p-2" style="color:#005f73 ;">
			<p> <h3>Career Objective </h3> <br> Experienced and knowledgeable Full Stack Engineer with exstensive practice in technology engineering and computer science looking to obtain a position that allows for the application of design skills, customer service and support abilities and critical thinking to produce software that meets all goals and objectives outlined by the customer.</p>
		</div>
	</div>
	
	<br>

	<div class="container body">
		
		<div class="col-4 card  p-2 ">
			<p> <h3>Technical Skills </h3> <br>
				<ul>
					<li>C & C++</li>
					<li>Mean Stack</li>
					<li>Spring MVC, Spring Boot</li>
					<li>MySQL</li>
					<li>Mongo DB</li>
					<li>Oracle</li>
					<li>Github</li>
					<li>Kafka</li>
					<li>Typescript</li>
					

				</ul>
			 </p>
		</div>
		<div class="col-7 container p-2  card" style="float: right;">
			<p><h3>Education Details</h3> <br>
				<b>Masters of Science Information Technology</b> <br>
				University of Cincinnati, Cincinnati, Ohio | December 2024 <br>
				GPA : 4/4 <br>     <br>

				<b>Bachelor of Technology in Information Technology </b> <br>
				VNR Vignana Jyothi Institute of Engineering & Technology, India | May 2021 <br>
				GPA : 3.5/4
			</p>
			<br> <br>
		</div>

	</div>
	
<br>



<div class="container">
	<div class="col-12 container card p-2">
			<p><h3>Professional Experience</h3><br>

				<b>Cognizant Technology Solutions, India | November 2021 - May 2023 | Full Stack Developer</b> <br><br>

				<ul>
					<li>Good experience working with Microservices and integrating applications.</li>
					<li>Design and develop REST API and UI.</li>
					<li>Design and configuration of the fully automated CI/CD lifecycle for the high-volume external web app.</li>
					<li>Design and develop applications from front end-to-end using NodeJS, Angular, MongoDB and ExpressJS Framework.</li>
					<li>Develop highly interactive web application utilizing Javascript, HTML5, CSS, JSON, Angular and integrating Restful API's external web services ensuring high performance on Mobile and Desktop.</li>
				</ul>
<br><br>

				<b>Cognizant Technology Solutions, India | March 2021 - October 2021 | Full Stack Developer Intern</b> <br> <br>

				<ul>
					<li>System Analysis, Design, Development and Implementation of Web and Client/server and Enterprise Application Development using Java and J2EE technology stack.</li>
					<li>Learnt new emerging technologies and took initiative to offer technical direction and creative solutions.</li>
					<li>Created micro service to provide RESTful API urilizing spring Boot with Spring MVC.</li>
					<li>Developed strategies and tools to create an efficient automated integration and release process using Jenkins</li>
					<li>Integrated Hibernate ORM with spring framework for data persistence and transaction management.</li>
				</ul>



			</p>
			<br>
		</div>

	</div>
		<br>

<div class="container">
	<div class="col-7 card p-2">
		<h3>Academic Projects</h3> <br>
		<p>
			<b>Title: </b>JISST Website <br>
			<b>Description: </b>This project is editorial website Journal of Innovation Science and Sustainable Technology where authors can upload their articles and publish them after reviewing by the reviewers. <br>
			<b>Tech Stack: </b> MEAN Stack <br> <br>

			<b>Title: </b>Best - Fashion Friend Website <br>
			<b>Description: </b>Best Fashion Friend is a shopping website where user view and add shopping items to cart after successful login and can make a purchase through any kind of payment. After successful transaction the items will be displayed in order page along with email acknowledgement at each stage. <br>
			<b>Tech Stack: </b> MEAN Stack 
		</p>
		
	</div>

	<div class="col-4 card p-2" style="float: right;"> 
		<h3>Accomplishments</h3> <br>
		<p>
			<ul>
				<li>Data Structure and algorithms by Being Zero Company</li>
				<li>Mean Stack by Being Zero Company</li>
				<li>AWS certification on EC2, Lambda, Storage and networking</li>
				<li>Completed Salesforce Certification</li>
				<li>Hackathons by VNR VJIET</li>
				<li>Mentored and trained web development to freshers at VNR VJIET ACM</li>
				<li>Head of core committee for sports fest at VNR VJIET</li>

			</ul>
		</p>
		
		
	</div>
</div>

<br>
<br>

<div class="container-fluid footer">
		
		<div id="digit-clock"></div>
		<script>
		function displayTime(){
				document.getElementById('digit-clock').innerHTML = "Current time:" + new Date();
		}
		setInterval(displayTime, 500);


		function displayJoke(){

		$.get("https://v2.jokeapi.dev/joke/Any",
			function(result){

				if(result){
					if(result.type === "single"){
						console.log("from jokeAPI: " + JSON.stringify(result));
						$("#jokeResponse").html("A " + result.category + " joke of the day: " + "<br>" + result.joke)
					}
					else{
						console.log("from jokeAPI: " + JSON.stringify(result));
						$("#jokeResponse").html("A " + result.category + " joke of the day: " + "<br>" + result.setup + "<br>" + result.delivery)
					}
				}

				else{
					console.error("Error due to unexpected response from joke API.");
					$("#jokeResponse").html("Sorry, could not load a joke at this moment. Please try again later.")
				}
				                                              
			})
		}

		displayJoke();
		setInterval(displayJoke,60000);

		function displayDogImage(){

		$.get("https://dog.ceo/api/breeds/image/random",
			function(result){

				
					if(result.status === "success"){
						console.log("from jokeAPI: " + JSON.stringify(result));
						$("#dogResponse").attr("src",result.message)
					}
					
				

				else{
					console.error("Error due to unexpected response from joke API.");
					$("#jokeResponse").html("Sorry, could not load a joke at this moment. Please try again later.")
				}
				                                              
			})
		}

		displayDogImage();
		setInterval(displayDogImage,60000);

		

		</script>

<div class="container-fluid responses">
	<div id="jokeResponse" class="p-3 col-4">{{joke}}</div> 
	<div class="dogImage col-3 mx-5">
			<img src="" id="dogResponse" alt="Dog Image" height="250" width="250" >
			<div class="container"> 
				<p> Dog Image</p> 
			</div>

			
	</div>

		<div class="flagCounter col-3">
			<a href="https://info.flagcounter.com/3GFF"><img src="https://s11.flagcounter.com/count2/3GFF/bg_FFFFFF/txt_000000/border_9E9E9E/columns_3/maxflags_12/viewers_0/labels_1/pageviews_1/flags_0/percent_0/" alt="Flag Counter" id="flagCounter" border="0"></a>
			
		</div>
	</div>
		
</div>
</div>


	
<div id="scrollTop" ng-controller="scrollController" class="m-1">
		<!-- <p>My first expression: {{ currentdate }}</p> -->
	<button onclick="scrollToTop()" type="button" class="btn btn-success"> <i class="fa fa-angle-up"></i></button>
	<script>
		

		function scrollToTop(){
			console.log("sample")
			window.scrollTo({top:0, behavior:'smooth'});

		 }
	</script>
		
</div>
</body>
</html>
 